a, a:hover{
  text-decoration: none;
  color: #ddaa34;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000; 
  padding: 0px;
}

p{
  color: #adb5bd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-left: 2px;
  font-weight: 700;
}

h2,h4{
  color: #cf803d;
}

h3{
  font-family: 'Staatliches', cursive;
}



header.masthead {
  position: relative;
  background-color: #000000;
  background: url("../img/posadas1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 29rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 2px;
  }
}

.showcase .showcase-text {
  padding: 10px;
  padding-left: 120px;
}


.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #000000;
  background: url("../img/posadas2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#btnBar {
  font-size:19px;
  color: #D676BC;
  background-color:#000000;
  padding: 10px;
  border-style: hidden;
}
#btnBar :hover {
  color:#FFFFFF;
  background-color:#000000;
  padding: 0px;
  border-style: hidden;
  
}

#btnResto {
  font-size:19px;
  color: #8B41B5;
  background-color: #000000;
  padding: 10px;
  border-style: hidden;
}

#btnResto :hover {
  color:#FFFFFF;
  background-color:#000000;
  padding: 0px;
  border-style: hidden;
}

#btnRecis {
  font-size:19px;
  color: #432685;
  background-color: #000000;
  padding: 10px;
  border-style: hidden;
}

#btnRecis :hover {
  color:#FFFFFF;
  background-color:#000000;
  padding: 0px;
  border-style: hidden;
}

#btnCultural {
  font-size:19px;
  color: #ddaa34;
  background-color: #000000;
  padding: 10px;
  border-style: hidden;
}

#btnCultural :hover {
  color:#FFFFFF;
  background-color:#000000;
  padding: 0px;
  border-style: hidden;
}

.hacerReserva {
  color: #E3AAD6;
  border-style: hidden;
  background-color: #000000;
}

.info {
  color: grey;
  padding-inline-end: 5px;
  font-weight:lighter;
  font-size: 14px;
}

#imgBar{
  background:cover;
}

input{
  border-style: hidden;
  background-color:#000000;
  color: #FFFFFF;

}
.volverMenu, .envioReserva{
  border-style:hidden;
  background-color: #D676BC;
  color:#000000;
  border-radius: 5px;
  margin-right: 10px;
}